<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Searchlist Book Review</title>
</head>
<body>
    <div class="container" method="GET" th:action="@{/reviews/searchreviews}">
        <div class="row">
            <div class="col">
                <h1>Index Searchlist Book Review</h1>
            </div>
        </div>
        <label class="form-label">Results</label>
        <span th:text="${title}">&nbsp;</span><p th:text="${Review.title}"></p>
        <span th:text="${author}">&nbsp;</span><p th:text="${Review.author}"></p>
        <span th:text="${isbn}">&nbsp;</span><p th:text="${reviews.isbn}"></p>

        <form method="POST" action="#">
            <button type="submit" class="btn">Add to list</button>
        </form>
    </div>
</body>
</html>