<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.min.js" 
        integrity="sha512-8Y8eGK92dzouwpROIppwr+0kPauu0qqtnzZZNEF8Pat5tuRNJxJXCkbQfJ0HlUG3y1HB3z18CSKmUo7i2zcPpg==" 
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

    <title>Index Search Book Review</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Index Search Book Review</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <form method="GET" th:action="@{/reviews/searchreviews}">
                    <div class="input-group" type="text">
                        <input type="text" name="title" 
                            class="form-control" 
                            placeholder="Enter Title">
                        <br>
                        <input type="text" name="author" 
                            class="form-control"
                            placeholder="Enter Author">
                    </div>
                    <button type="submit" class="btn">Search</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>